@import '~bootstrap/scss/bootstrap';

.octicon {
  display: inline-block;
  vertical-align: text-top;
}

svg {
  fill: currentColor;
}

.brightness {
  background-color: white;
  display: inline-block;
}

.brightness img:hover {
  opacity: .75;
}

.grey-bg {
  background-color: #F5F7FA;
}

.orange-bg {
  background-color: #ff8800;
  color: white;
}

.orange-bg:hover {
  background-color: #ff8800bc;
  color: white;
}

.border-1 {
  border-width:1.6px !important;
}

p.wrapper {
  padding: 0 0 0.65px 0;
  background-color: #ff8800;
}

img {
  max-width:100%;
}

.modal-body label {
  font-size: 10pt;
}
// .modal-header {
//   background-color: #ff8800;
// }

.modal-title {
  color: white;
}

abbr {
  color: red;
}
